<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Set Password</title>
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-beta/css/bootstrap.min.css}">
    <script th:src="@{/webjars/bootstrap/4.0.0-beta/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-light bg-faded" th:with="currentUser=${currentUser}">
        <div class="navbar" style="width:100%" th:if="${currentUser!=null}">
            <ul class="navbar-nav" style="display:inline">
                <li style="display:inline; padding:0 5px 10px 5px"><a th:href="@{/messages/inbox}">Inbox</a></li>
                <li style="display:inline; padding:5px 10px"><a th:href="@{/messages/compose(form)}">Compose</a></li>
                <li style="display:inline; padding:5px 10px"><a th:href="@{/h2-console}">H2-DB</a></li>
            </ul>
            <div  style="float:right; display:inline-block; margin-left:auto">
                <div  style="float:left; display:inline-block; margin-left:auto; padding: 5px 10px">
                    <h6 class="navbar-text" th:text="${currentUser.firstName}">sample_user</h6>
                </div>
                <form class="form-inline" th:action="@{/logout}" method="post">
                    <button class="btn btn-primary" type="submit">Log-out</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="segment" style="width:600px; border: 1px solid #333; padding: 5px; margin:auto">
        <h3>Set a Password</h3>
        <form id="messageForm" th:action="@{/oauth2/newUser}" th:object="${userDto}" method="post">
            <div th:if="${#fields.hasErrors('*')}" class="alert alert-warning">
                <p th:each="error : ${#fields.errors('*')}" th:text="${error}">
                    Validation error
                </p>
            </div>
            <div class="form-group">
                <input class="form-control" type="disabled" name="firstName" th:value="*{firstName}"/>
            </div>
            <div class="form-group">
                <input class="form-control" type="disabled" name="lastName" th:value="*{lastName}"/>
            </div>
            <div class="form-group">
                <input class="form-control" type="disabled" name="email" th:value="*{email}"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input placeholder="Password" type="password" name="password" class="form-control" id="password" th:field="*{password}" th:class="${#fields.hasErrors('password')} ? 'field-error'"/>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input placeholder="Re-enter Password" type="password" name="confirmPassword" class="form-control" id="confirmPassword" th:field="*{confirmPassword}" th:class="${#fields.hasErrors('confirmPassword')} ? 'field-error'"/>
            </div>
            <div class="form-group" style="width:100%; height:50px"><button type="submit" class="btn btn-primary" style="margin-left:auto; float:right; width:100px">Submit</button></div>
        </form>
    </div>
</div>
</body>
</html>